<% javascript :defaults %>
<div id="user">
<% login_opts = @user_login_is_readonly ? { :readonly => 'readonly', :disabled => 'disabled' } : { }  %>
<%= f.field :login, { :size => 20 }.merge(login_opts) %>
<%= f.field :email, :size => 40 %>
<%= f.password_field :password, :size => 20, :label => (f.object.new_record? ? nil : "Change password") %>
<%= f.password_field :password_confirmation, :size => 20 %>
<%= partial 'users/profile', :object => @user.profile %>
<div id="identities"> 
<%= partial 'users/identity', :collection => @user.identities %> 
</div> 
</div>
<!-- BEGIN ID SELECTOR -->
<script type="text/javascript">
<!--
idselector_input_id = "user_new_identity_attrs__url";
-->
</script>
<script type="text/javascript" id="__openidselector" src="https://www.idselector.com/selector/96ae06e86c446a7054d56bab9edbd09b1d6f6e43" charset="utf-8"></script>
<!-- END ID SELECTOR -->
