<% title index_title -%>

<table class="index">
<tr>
	<th>ID</th>
	<th>Name</th>
	<th>Login</th>
	<th>Email</th>
	<th>Status</th>
</tr>
<% for user in @users %>
<tr>
	<td><%=h user.id %></td>
	<td><%=h user.last_first %></td>
	<td><%= link_to h(user.login), admin_user_url(user) %></td>
	<td><%=h user.email %></td>
	<td><%=h user.state %></td>
</tr>
<% end %>
</table>

<p>List <%= users_by_names_and_states %></p>
<p><%= will_paginate @users %></p>
<p><%= link_to 'New user', new_admin_user_path %></p>