<% title @user.login %>

<h2>Account status: <%= @user.state.to_s.humanize %></h2> 

<p>Login<br /><%=h @user.login %></p>
<p>Email<br /><%=h @user.email %></p>
<p>Password<br />******* <%= link_to_if !@user.deleted?, "Send new password", reset_password_admin_user_url(@user), :method => :put %></p>
<p>Login count<br /><%=h @user.last_login_ip %></p>
<p>Last login at<br /><%=h @user.last_login_at %></p>
<p>Last login ip<br /><%=h @user.last_login_ip %></p>
<p>Account created<br /><%=h @user.created_at %></p>
<p>Last updated<br /><%=h @user.updated_at %></p>

<ul>
<% if @user.pending? -%>
  <li><%= link_to "Activate", activate_admin_user_url(@user), :method => :put %></li>
  <li><%= link_to "Suspend", suspend_admin_user_url(@user), :method => :put %></li>
  <li><%= link_to "Delete", admin_user_url(@user), :method => :delete %></li>
<% end -%>

<% if @user.suspended? -%>
  <li><%= link_to "Unsuspend", unsuspend_admin_user_url(@user), :method => :put %></li>
<% end -%>

<% if @user.active? -%>
  <li><%= link_to "Suspend", suspend_admin_user_url(@user), :method => :put %></li>
  <li><%= link_to "Delete", admin_user_url(@user), :method => :delete, :confirm => "Are you sure you want to delete this account?" %></li>
<% end -%>

<% # TODO: Uncomment to enable user purging by the administrator %>
<!--
<% if @user.deleted? -%>
  <li><%= link_to "Purge", purge_admin_user_url(@user), :method => :delete, :confirm => "Are you sure you want to remove this account, and all data associated with it from base_app?" %></li>
<% end -%>
  -->
</ul>

<%= link_to 'Edit', edit_admin_user_path(@user) %> |
<%= link_to 'Back', admin_users_path %>
